.skillgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 20px;
}

.skillgrid .skill-item {
    align-items: center;
    text-align: center;
}

.skillgrid .skill-item img {
    width: 128px;
    height: 128px;
}

h1,
h2 {
    text-align: center;
    padding-bottom: 5px;
}

h1 {
    font-size: 50px;
    color: var(--crimson);
    text-shadow: 2.5px 2.5px 0px lightslategray;
    padding-top: 30px;
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

li {
    display: list-item;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
    padding-top: 5px;
}

p {
    padding-top: 5px;
}